<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodingTaskMobile.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C10E99AF27E7DBD000CC4351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C12B483C27E209BE004EE0FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C19146C927E4E86800B366C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
